# http://www.gnu.org/software/automake

# http://www.gnu.org/software/autoconf

/autom4te.cache
/compile
/depcomp
/missing
/stamp-h1
.cproject
.project

*.o
/Makefile
/config.log
/config.status
/samples/Makefile
/src/Makefile
/src/config.h
/src/libnids.a
/samples/overflows
/samples/printall
/samples/sniff
